<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">  
        </a>
    </mdb-navbar-brand>
  </mdb-navbar>
<mdb-card>
    <mdb-card-body >
        <img class="mw-150"  src="../../../../assets/images/dreamstime_l_7871997.jpg" alt="Employee Portal" style="width: 100%;height: 20vh;">
    </mdb-card-body>
</mdb-card>

<mdb-navbar  SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">
    <links>
      <ul class="navbar-nav mr-auto " style="font-weight:500;">
      </ul>
      <ul class="navbar-nav mr-auto " style="font-weight:800;width: 100%;">

        <!-- Eogo section link--> 
       
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect skipLocationChange>Employee List</a>
        </li>
         <!-- Vendor part links -->
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar">
          <a class="nav-link p-0" href="/auth">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
              alt="avatar image" height="35">
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  
